.game-container {
  display: flex;
  flex-direction: column; // Display children in a column layout
  padding-top: 1rem; // Add padding at the top

  .game-board-container {
    margin-top: 1rem; // Add some space between the timer and game board
  }

  @media (min-width: 600px) {
    flex-direction: row; // On wider screens, display timer and game board side by side
    justify-content: space-around; // Center the timer and game board horizontally with equal spacing
    padding-top: 0; // Remove padding at the top on wider screens
    
    .game-board-container {
      margin-top: 0; // Remove margin on wider screens
    }
  }
}


.game-board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 2vh auto;
  max-width: 96%;
  max-height: 80vh;
  overflow: hidden;
  background-color: #f0f0f07e;
}

.card-grid {
  display: grid;
  width: min-content; // Ensure the grid does not expand beyond its content
  min-width: 400px; // Default minimum width for the card grid
  grid-template-columns: repeat(6, minmax(0, 1fr)); 
  grid-template-rows: repeat(6, minmax(0, 1fr)); 
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

app-card {
  border: 1px solid #dfdfdf;
  border-radius: 0.5rem;
  overflow: hidden;
  aspect-ratio: 1 / 1.5; // Adjust the aspect ratio as needed for readability
}

@media (max-width: 600px) {
  .card-grid {
    min-width: 300px; // Adjust the minimum width for smaller screens
  }
}
