.game-container {
  display: flex;
  flex-direction: column; 
  padding-top: 1rem; 

  .game-board-container {
    margin-top: 1rem; 
  }

  @media (min-width: 600px) {
    flex-direction: row; 
    justify-content: space-around; 
    padding-top: 0; 
    
    .game-board-container {
      margin-top: 0; 
    }
  }
}


.game-board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 2vh auto;
  max-width: 96%;
  max-height: 80vh;
  overflow: hidden;
  background-color: #f0f0f07e;
}

.card-grid {
  display: grid;
  width: min-content; 
  min-width: 400px; 
  grid-template-columns: repeat(6, minmax(0, 1fr)); 
  grid-template-rows: repeat(6, minmax(0, 1fr)); 
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

app-card {
  border: 1px solid #dfdfdf;
  border-radius: 0.5rem;
  overflow: hidden;
  aspect-ratio: 1 / 1.5; 
}

@media (max-width: 600px) {
  .card-grid {
    min-width: 300px; 
  }
}
